
    body{
        text-align: center;
        background-color: rgb(214, 212, 212);
    }

.container form{
    width: 40%;
    margin: 0 30% 0 30%;
}

.container form textarea, input{
    width: 100%;
}

.navbar-left{
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}

.navbar-left a{
    text-decoration: none;
    padding: 10px;
}

.navbar-left .active-link{
    color: blue;
    border-bottom: 3px solid blue;
    padding-bottom: 12px;
}

#post-body {
    display: grid;
    text-align: center;
    width: 100%;
    
}

#post-title{
    text-align: center;
}

.post-btn {
    margin-top: 2%;
    padding: 1%;
    width: 100%;
}

.container {
    margin-top: 5%;
}

@media screen and (max-width: 600px) {
    #post-title {
        width: 70%;
    }

    .post-body {
        /* width: 25%; */
        display: grid;
        /* width: 80%; */
        margin: 0 -60%;
    }

}